body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #f8f9fa;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
}

#cart-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

#cart-button:hover {
    background-color: #0056b3;
}

.side-cart {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1000;
}

.side-cart.open {
    right: 0;
}

.side-cart h2 {
    padding: 20px;
    margin: 0;
    background-color: #007BFF;
    color: white;
    text-align: center;
}

#cart-items {
    padding: 20px;
}

#close-cart {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 0 0 10px 10px; /* Bordas arredondadas nas partes inferiores */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#close-cart:hover {
    background-color: #d32f2f;
    transform: translateY(-2px); /* Pequeno movimento ao passar o mouse */
}



.content {
    padding: 20px;
}

.add-to-cart {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #218838;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.cart-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.quantity {
    font-size: 14px;
    color: #666;
    margin-left: 5px;
}

.remove-item {
    background-color: transparent;
    border: none;
    color: #ff4d4f;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.remove-item:hover {
    color: #d32f2f;
}

.remove-item::before {
    content: "\1F5D1";
    font-size: 18px;
    margin-right: 5px;
}


